<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Parametri di connessione a XAMPP (MySQL/MariaDB) -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cardgameblackjackengine?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialetto e impostazioni -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        
        <!-- create-drop per testare, update per mantenere i dati -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mappatura delle entità -->
        
        <mapping class="com.mycompany.CardGameEngineBlackjack.Domain.Dealer"/>
        <mapping class="com.mycompany.CardGameEngineBlackjack.Domain.Partita"/>
        <mapping class="com.mycompany.CardGameEngineBlackjack.Domain.Mano"/>
        <mapping class="com.mycompany.CardGameEngineBlackjack.Domain.Mazzo"/>
        <mapping class="com.mycompany.CardGameEngineBlackjack.Domain.Carta"/>
        <mapping class="com.mycompany.CardGameEngineBlackjack.Domain.Puntata"/>
        <mapping class="com.mycompany.CardGameEngineBlackjack.Domain.Fiche"/>
        <mapping class="com.mycompany.CardGameEngineBlackjack.Domain.Giocatore"/>
    </session-factory>
</hibernate-configuration>